body {
    background-color: aqua;
}
.logo {
    text-indent: -999px;
    background: url("logo.PNG");
    background-color: rgb(55, 159, 194);
    width: 500px;
    height: 333px;
    position: absolute;
}

p{
    font-style: italic;
    font-size: xx-large;
    color: black;
    text-align: center;
}

.tea {
    margin-bottom: 10px;
    padding: 15px;
    width: 50%;
    height: 50%;
    float: right;
    
}
h2 {
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hotpink;
}

ol {
    font-size: large;
    color: purple;
    font-family: 'Times New Roman', Times, serif;
}